/*-- scss:defaults --*/

$body-bg: #12436D;
$body-color: #dedede;
$link-color: #42affa;

.reveal section h1 {
  font-size: 1.6em !important;
  color: #efefef !important;
}

.reveal section h3 {
  font-size: 1.2em !important;
  margin-top: 0.6em !important;
  color: #efefef !important;
}
